<div class="photo-page container">
    <div class="photo-header">
        <div class="photo-header-title select">相册</div>
        <div class="photo-header-title">照片</div>
    </div>
    <div class="photo-container">
        <div class="photo-operation-div">
            <button type="button" class="btn btn-info upload-photo" ng-click="uploadPhoto()">
                <span class="fa fa-upload"></span>
                <span>上传照片</span>
            </button>
            <button type="button" class="btn btn-default create-album" ng-click="createAlbum()">创建相册</button>
        </div>
        <div class="photo-album-list">
            <div class="photo-album-item" ng-repeat="album in albums" ng-click="showAlbumPhotos(album)">
                <div class="album-operations" ng-mouseleave="showAlbumOperationsClick(album, false)">
                    <div class="album-operation-icon" ng-click="showAlbumOperationsClick(album, true, $event)" ng-class="{'hide-bottom-border': album.showAlbumOperations}">
                        <span class="fa fa-chevron-down"></span>
                    </div>
                    <div class="album-operation-items" ng-show="album.showAlbumOperations">
                        <div class="album-operation-item" ng-click="editAlbum(album, $event)">
                            <span class="fa fa-pencil"></span>
                            <span class="operation-text">编辑</span>
                        </div>
                        <!--<div class="album-operation-item">-->
                            <!--<span class="fa fa-lock"></span>-->
                            <!--<span class="operation-text">权限设置</span>-->
                        <!--</div>-->
                        <div class="album-operation-item" ng-click="deleteAlbum(album, $event)">
                            <span class="fa fa-trash"></span>
                            <span class="operation-text">删除</span>
                        </div>
                    </div>
                </div>

                <div class="album-show-photo">

                </div>
                <div class="photo-count">{{album.photos.length}}</div>
                <div class="album-title">
                    {{album.name}}
                </div>
            </div>
        </div>
    </div>
    <div class="photo-popover-container"></div>
</div>