<div class="upload-photo-popover my-popover">
    <div class="popover-title">上传照片</div>
    <div class="popover-content">
        <div class="item">
            <div class="item-label">上传到</div>
            <div class="item-input">
                <select ng-model="selectedAlbum" ng-options="album.name for album in albums" class="form-control"></select>
            </div>
        </div>
        <div class="item">
            <div class="item-label">文件名</div>
            <div class="item-input">
                <input type="text" class="form-control" placeholder="请输入文件名称" ng-model="photo.name"/>
            </div>
        </div>
        <div class="item">
            <div class="item-label">描述</div>
            <div class="item-input">
                <textarea name="" class="form-control" id="blogSummary" cols="30" rows="3" ng-model="photo.description"></textarea>
            </div>
        </div>
        <div class="item">
            <div class="item-label">文件</div>
            <div class="item-input">
                <input type="file" id="uploadPhoto"/>
                <button type="button" class="btn btn-primary btn-sm upload-photo-button">
                    <label for="uploadPhoto">选择文件</label>
                </button>
            </div>
        </div>
    </div>
    <div class="popover-footer">
        <button type="button" class="btn btn-info btn-sm" ng-click="save()">开始上传</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">取消</button>
    </div>
</div>