<div class="blog-info-for-home-div">
    <div class="user-image">
        <img src="{{content.userInfo.headImgPath}}" alt=""/>
    </div>
    <div>
        <div class="username">
            <span ng-mouseover="showOrHideUserInfoPopover(true, $event)" ng-mouseleave="showOrHideUserInfoPopover(false)">{{content.userInfo.username}}</span>
        </div>
        <div class="dynamic-other-info">{{content.createDate}} 来自 {{content.source || '网页'}}</div>
        <a class="content-title" href="/blog/detail/{{content._id}}">{{content.title}}</a>
    </div>
    <div class="content-summary">{{content.summary}}</div>
</div>