<div class="create-personal-type-popover my-popover">
    <div class="popover-title">创建个人分类</div>
    <div class="popover-content">
        <div class="name-div">
            <div class="type-label">分类名称</div>
            <div class="type-input">
                <input type="text" class="form-control" placeholder="请输入分类名称" ng-model="typeOption.name"/>
            </div>
        </div>
        <div class="is-use-now">
            <div class="type-label">是否立即应用</div>
            <div class="switch">
                
            </div>
        </div>
    </div>
    <div class="popover-footer">

    </div>
</div>