<div class="create-personal-type-popover my-popover" popover-movable>
    <div class="popover-title">创建个人分类</div>
    <div class="popover-content">
        <div class="name-div item">
            <div class="type-label">分类名称</div>
            <div class="type-input">
                <input type="text" class="form-control" placeholder="请输入分类名称" ng-model="typeOption.name"/>
            </div>
        </div>
        <div class="is-use-now item">
            <div class="type-label">立即使用</div>
            <div class="use-setting-switch type-input">
                <switch option="option"></switch>
            </div>
        </div>
    </div>
    <div class="popover-footer">
        <button type="button" class="btn btn-info btn-sm" ng-click="save()">保存</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">取消</button>
    </div>
</div>