<div class="blog-list-page container">
    <profile-in-blog user-id="userId"></profile-in-blog>
    <div class="blog-list-div">
        <div class="operation-div" ng-show="currentUser._id === userId">
            <button type="button" class="btn btn-info" ng-click="createBlog()">写博客</button>
            <button class="btn btn-default">博客管理</button>
        </div>
        <div ng-repeat="blog in blogList" class="blog-list">
            <div class="type-and-title">
                <span class="label label-info blog-type {{blog.type}}-blog-type">{{blog.typeShow}}</span>
                <div class="blog-title">
                    <a href="/blog/detail/{{blog._id}}">{{blog.title}}</a>
                </div>
            </div>
            <div class="blog-summary">{{blog.summary}}</div>
            <div class="blog-info">
                <div class="blog-create-time">{{blog.createDate}}</div>
                <div class="read-statistic">
                    <span class="icon-eye-open"></span>
                    <span class="read operation-link">阅读</span>
                    <span class="read-statistic-count">({{blog.readCount}})</span>
                </div>
                <div class="comment-statistic">
                    <span class="icon-comments-alt"></span>
                    <span class="comment operation-link">评论</span>
                    <span class="comment-statistic-count">({{blog.comment.length}})</span>
                </div>
                <div class="edit operation-link">
                    <span>编辑</span>
                </div>
                <div class="delete operation-link">
                    <span>删除</span>
                </div>
            </div>
        </div>
    </div>
</div>