<div class="blog-manager-page container">
    <div class="user-info-div">
        <div class="user-image">
            <img src="{{userInfo.headImgPath}}" alt=""/>
        </div>
        <div class="user-info">
            <div class="username">{{userInfo.username}}</div>
            <a class="blog-list" href="/blog">我的博客</a>
        </div>
    </div>
    <div class="blog-manager-tab">
        <div class="blog-manager-tab-item" ng-class="{'current-shown-tab-item':currentSelectTab === 'create'}"><a href="/blog/create">发表博客</a></div>
        <div class="blog-manager-tab-item" ng-class="{'current-shown-tab-item':currentSelectTab === 'blogManager'}"><a href="/blog/manager">博客管理</a></div>
        <div class="blog-manager-tab-item" ng-class="{'current-shown-tab-item':currentSelectTab === 'typeManager'}"><a href="/blog/manager/type">类别管理</a></div>
        <div class="blog-manager-tab-item" ng-class="{'current-shown-tab-item':currentSelectTab === 'commentManager'}"><a href="/blog/manager/comment">评论管理</a></div>
        <div class="blog-manager-tab-item" ng-class="{'current-shown-tab-item':currentSelectTab === 'draft'}"><a href="/blog/draft">草稿箱</a></div>
        <div class="blog-manager-tab-item" ng-class="{'current-shown-tab-item':currentSelectTab === 'recycleBin'}"><a href="/blog/recycle-bin">回收站</a></div>
    </div>
    <div class="current-blog-page">

    </div>
</div>