<div class="blog-manager-page container">
    <div class="user-info-div">
        <div class="user-image">
            <img src="{{userInfo.headImgPath}}" alt=""/>
        </div>
        <div class="user-info">
            <div class="username">{{userInfo.username}}</div>
            <a class="blog-list">我的博客</a>
        </div>
    </div>
    <div class="blog-manager-tab">
        <div class="blog-manager-tab-item current-shown-tab-item">发表博客</div>
        <div class="blog-manager-tab-item">博客管理</div>
        <div class="blog-manager-tab-item">类别管理</div>
        <div class="blog-manager-tab-item">评论管理</div>
        <div class="blog-manager-tab-item">草稿箱</div>
        <div class="blog-manager-tab-item">回收站</div>
    </div>
</div>