.blog-list-page {
  border: solid 1px @grey-border-color;
  background: @background-color-white;
  border-radius: 8px;
  padding: 10px;
  overflow: auto;

  .blog-list-div {
    @profile-width: 210px;
    float: right;
    border: solid 1px #DDD;
    background: #FFF;
    border-radius: 8px;
    padding: 10px;
    width: -moz-calc(~"100% - @{profile-width}");
    width: -webkit-calc(~"100% - @{profile-width}");
    width: calc(~"100% - @{profile-width}");
    .operation-div {
      padding-bottom: 10px;
      overflow: auto;
      border-bottom: 1px solid #ccc;

    }
    .blog-list {
      overflow: auto;
      border-bottom: 1px dashed #ccc;
      .type-and-title {
        margin: 5px 0px;
        .blog-type {
          position: relative;
          top: -3px;
        }
        .origin-blog-type {
          background-color: #428bca;
        }
        .reprint-blog-type {
          background-color: #50bd4e;
        }
        .translation-blog-type {
          background-color: #697169;
        }
        .blog-title {
          font-size: 20px;
          font-weight: bold;
          display: inline;
        }
        .blog-title a:hover {
          color: #666;
          cursor: pointer;
        }
      }

      .blog-summary {
        line-height: 25px;
        color: #666;
      }
      .blog-info {
        float: right;
        color: #999;
        font-size: 13px;
        div {
          display: inline-block;
          padding: 0px 2px;
        }
        .operation-link {
          cursor: pointer;
          color: #369;
        }
        .operation-link:hover {
          color: #200;
        }
      }
    }

  }
}

@media screen and (max-width: 1023px) {
  .blog-list-page {
    .blog-list-div {
      width: 100%;
      .blog-list {
        .blog-info {
          .blog-create-time {
            display: block;
            text-align: right;
          }
        }
      }
    }
  }
}