<div class="account-info-page container">
    <div class="account-info-div">
        <div class="user-img-relationship">
            <img src="{{user.headImgPath}}" alt=""/>
        </div>
        <div class="user-basic-info">
            <div class="username">{{user.username}}</div>
            <div class="user-other-info">
                <div class="industry">{{user.industry || '未填写行业'}}</div>
                <span>|</span>
                <div class="occupation">{{user.occupation || '未填写职业'}}</div>
                <span>|</span>
                <div class="name">{{user.realName}}</div>
                <span>|</span>
                <div class="country">中国</div>
                <span>|</span>
                <div class="sex">男</div>
                <span>|</span>
                <div class="birthday">1993/07/21</div>
            </div>
            <div class="signature-line">好好学习，天天向上</div>
        </div>
        <div class="blog-info">
            <div class="ranking-div">
                <div class="ranking-label">排名：</div>
                <div class="ranking">{{userBlogInfo.ranking}}</div>
            </div>
            <div class="integral-div">
                <div class="integral-label">积分：</div>
                <div class="integral">{{userBlogInfo.integral}}</div>
            </div>
            <div class="level-div">
                <div class="level-label">等级：</div>
                <div class="level">{{userBlogInfo.level}}</div>
            </div>
            <div class="total-hits-div">
                <div class="total-hits-label">总点击量：</div>
                <div class="total-hits">{{userBlogInfo.totalHits}}</div>
            </div>
        </div>
    </div>
    <div class="account-section">
        <div class="account-section-tab">
            <div class="account-section-tab-item" ng-class="{'account-section-tab-item-selected': accountInfoCurrentSelectTab === 'main'}" ng-click="showAccountInfoPage('main')">我的主页</div>
            <div class="account-section-tab-item" ng-class="{'account-section-tab-item-selected': accountInfoCurrentSelectTab === 'photo'}" ng-click="showAccountInfoPage('photo')">我的相册</div>
            <div class="account-section-tab-item" ng-class="{'account-section-tab-item-selected': accountInfoCurrentSelectTab === 'profile'}" ng-click="showAccountInfoPage('profile')">我的资料</div>
            <div class="account-section-tab-item" ng-class="{'account-section-tab-item-selected': accountInfoCurrentSelectTab === 'relationShip'}" ng-click="showAccountInfoPage('relationShip')">我的关系</div>
            <div class="account-section-tab-item" ng-class="{'account-section-tab-item-selected': accountInfoCurrentSelectTab === 'manager'}" ng-click="showAccountInfoPage('manager')">管理中心</div>
        </div>
        <div class="account-content-div"></div>
    </div>
</div>