<div class="account-info-page container">
    <div class="account-info-div">
        <div class="user-img-relationship">
            <img src="{{user.headImgPath}}" alt=""/>
            <div class="blog-relationship">
                <div class="follow">
                    <div class="follow-count">6</div>
                    <div class="follow-label">关注</div>
                </div>
                <div class="fan">
                    <div class="fan-count">0</div>
                    <div class="fan-label">粉丝</div>
                </div>
            </div>
        </div>
        <div class="user-basic-info">
            <div class="username">{{user.username}}</div>
            <div class="user-other-info">
                <div class="industry">未填写行业</div>
                <span>|</span>
                <div class="occupation">未填写职业</div>
                <span>|</span>
                <div class="name">王超</div>
                <span>|</span>
                <div class="country">中国</div>
                <span>|</span>
                <div class="sex">男</div>
                <span>|</span>
                <div class="birthday">1993/07/21</div>
            </div>
            <div class="signature-line">好好学习，天天向上</div>
        </div>

    </div>

</div>