<div class="account-info-main-page">
    <div class="brief-navigation">
        <div class="blog-briefly-info">
            <div class="follow">
                <div class="follow-count">6</div>
                <div class="follow-label">关注</div>
            </div>
            <div class="fan">
                <div class="fan-count">0</div>
                <div class="fan-label">粉丝</div>
            </div>
            <div class="blog">
                <div class="blog-count">8</div>
                <div class="blog-label">博客</div>
            </div>
            <div class="simple-blog">
                <div class="simple-blog-count">8</div>
                <div class="simple-blog-label">博客</div>
            </div>
        </div>
    </div>
</div>