<div class="account-info-main-page">
    <div class="left">
        <div class="brief-navigation">
            <div class="blog-briefly-info">
                <div class="follow">
                    <div class="follow-count">6</div>
                    <div class="follow-label">关注</div>
                </div>
                <div class="fan">
                    <div class="fan-count">0</div>
                    <div class="fan-label">粉丝</div>
                </div>
                <div class="blog">
                    <div class="blog-count">8</div>
                    <div class="blog-label">博客</div>
                </div>
                <div class="simple-blog">
                    <div class="simple-blog-count">8</div>
                    <div class="simple-blog-label">微博</div>
                </div>
            </div>
        </div>
        <div class="data-completion">
            <div class="data-completion-percent">
                <div class="num-data-completion">
                    <span>个人资料完成度</span>
                    <span class="number">50%</span>
                </div>
                <div class="data-completion-img">
                    <div class="data-percent-img"></div>
                </div>
            </div>
            <div class="edit-account-info">
                <a class="edit">编辑个人资料 ></a>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="dynamics-top">
            <div class="all-dynamics selected-dynamics">全部动态</div>
            <div class="select-dynamics">
                <span>更多</span>
                <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <div class="search-div">
                <input type="text" class="form-control" placeholder="搜索我的博客">
                <span class="glyphicon glyphicon-search"></span>
            </div>
        </div>

        <div class="dynamic-item">
            <div class="icon-angle-down icon-large"></div>
            <div class="personal-dynamic-info">
                <div class="user-image">
                    <img src="" alt=""/>
                </div>
                <div class="username">柯沁怡</div>
                <div class="dynamic-other-info">2016-4-12 22:02 来自 荣耀6</div>
                <div class="personal-dynamic-info-detail">瞬间感觉整个人智商都提高了</div>
            </div>
            <div class="original-dynamic-info">
                <div class="username">史蒂芬霍金</div>
                <div class="dynamic-info-detail">Greetings to my friends in China! It has been too long! I last visited China in 2006 when I took part in a physics conference in Beijing. It was an extraordinary experience. My first trip was in 1985 when I travelled across your rem</div>
                <div class="dynamic-other-info">2016-4-12 22:02 来自 荣耀6</div>
            </div>
            <div class="dynamic-foot-operation">
                <div class="reader">
                    <span class="operation-text">阅读 175</span>
                </div>
                <div class="forward">
                    <span class="operation-text"><span class="icon icon-reply"></span>转发</span>
                </div>
                <div class="comment">
                    <span class="operation-text"><span class="icon icon-comments-alt"></span>评论</span>
                </div>
                <div class="good">
                    <span class="operation-text"><span class="icon icon-thumbs-up"></span>赞</span>
                </div>
            </div>
        </div>
    </div>
</div>