<div class="relationship-page">
    <div class="relationship-left-bar">
        <div class="level-one-bar">
            <div class="level-one-bar-title">
                <span class="fa fa-user-o"></span>
                <span>关注 100</span>
            </div>
            <div class="level-two-bar">
                <div class="level-two-bar-title">
                    <span class="fa fa-heart"></span>
                    <span>好友圈 5</span>
                </div>
            </div>
            <div class="level-two-bar">
                <div class="level-two-bar-title">
                    <span class="fa fa-star-o"></span>
                    <span>兴趣爱好 5</span>
                </div>
            </div>
            <div class="level-two-bar">
                <div class="level-two-bar-title">
                    <span class="fa fa-heartbeat"></span>
                    <span>特别关注 5</span>
                </div>
            </div>
            <div class="level-two-bar">
                <div class="level-two-bar-title">
                    <span class="fa fa-circle fa-"></span>
                    <span>未分组 5</span>
                </div>
            </div>
            <button type="button" class="btn btn-default btn-sm add-new-group">
                <span class="fa fa-plus"></span>
                <span>添加新的分组</span>
            </button>
        </div>
        <div class="level-one-bar">
            <div class="level-one-bar-title">
                <span class="fa fa-commenting-o"></span>
                <span>群 0</span>
            </div>
        </div>
        <div class="level-one-bar">
            <div class="level-one-bar-title">
                <span class="fa fa-users"></span>
                <span>粉丝 0</span>
            </div>
        </div>
        <div class="level-one-bar">
            <div class="level-one-bar-title">
                <span class="fa fa-user-times"></span>
                <span>黑名单 0</span>
            </div>
        </div>
    </div>
    <div class="relationship-main-content">
        <div class="relationship-header">
            <span style="font-weight: bold;">全部关注</span>
            <span>199</span>
        </div>
        <div class="relationship-operation">
            <div class="batch-operation">批量管理</div>
            <div class="sort">排序</div>
            <div class="relationship-search">
                <input type="text" class="form-control" placeholder="请输入昵称">
                <span class="fa fa-search"></span>
            </div>
        </div>
        <div class="attention-users">
            <div ng-repeat="attention in userAttentionInfos.attentions" style="display: inline-block;">
                <account-info-attention-user attention-user="attention"></account-info-attention-user>
            </div>
        </div>
    </div>
</div>