.account-info-page {
  margin-top: 10px;
  .account-info-div {
    background: #fff;
    height: 230px;
    width: 100%;
    padding: 20px;
    position: relative;
    .user-img-relationship {
      float: left;
      img {
        width: 150px;
        height: 150px;
      }
      .blog-relationship {
        text-align: center;
        margin-top: 8px;
        .follow {
          display: inline-block;
          width: 70px;
          border-right: 1px solid #ccc;
          .follow-count {
            font-weight: bold;
          }
          .follow-label {
            color: #999;
          }
        }
        .fan {
          display: inline-block;
          width: 70px;
          .fan-count {
            font-weight: bold;
          }
          .fan-label {
            color: #999;
          }
        }
      }
    }
    .user-basic-info {
      display: inline-block;
      margin-left: 20px;
      .username {
        font-size: 24px;
        font-weight: bold;
      }
      .user-other-info {
        margin: 10px 0;
        div {
          display: inline-block;
          margin: 0 10px;
        }
      }
      .signature-line {
        position: absolute;
        left: 190px;
        right: 20px;
        padding-top: 10px;
        color: #999;
        border-top: 1px solid #f0f0f0;
      }
    }

  }

}