.account-info-profile-page {
  .account-info-list-group {
    width: 180px;
    float: left;
  }
  .account-basic-info {
    width: 945px;
    background: #ffffff;
    float: right;
    border-radius: 4px;
    padding: 10px;
    .account-info-header {
      .header-text {
        font-weight: bold;
      }
      button {
        border-radius: 14px;
        padding: 3px 7px;
      }
    }
    .account-basic-info-div {
      .account-basic-info-item {

      }
    }
  }
}