.account-info-profile-page {
  .account-info-list-group {
    width: 180px;
    float: left;
  }
  .account-basic-info {
    width: 945px;
    background: #ffffff;
    float: right;
    border-radius: 4px;
    padding: 20px;
    .account-info-header {
      height: 27px;
      border-bottom: 1px solid #ccc;
      .header-text {
        font-weight: bold;
      }
      button {
        border-radius: 14px;
        padding: 3px 7px;
        float: right;
        margin-right: 20px;
        margin-top: -5px;
      }
    }
    .account-basic-info-div {
      .account-basic-info-item {
        line-height: 45px;
        .account-info-item-label {
          display: inline-block;
          width: 75px;
          text-align: right;
          margin-right: 20px;
        }
        .account-info-item-value {
          display: inline-block;
        }
        .account-info-item-edit {
          display: inline-block;
        }
      }
    }
  }
}