.relationship-page {
  @leftBarWidth: 300px;
  .relationship-left-bar {
    float: left;
    width: @leftBarWidth;
    background: #fff;
    padding: 2px;
    .level-one-bar {
      border-bottom: 1px solid #efefef;
      &:last-child {
        border-bottom: none;
      }
      .level-one-bar-title {
        padding-left: 20px;
        line-height: 40px;
        cursor: pointer;
        span {
          margin-right: 7px;
        }
        &:hover, &.select {
          background: #f2f2f5;
          color: #2ba7ff;
        }
      }
      .level-two-bar {
        padding-left: 40px;
        line-height: 30px;
        cursor: pointer;
        .level-two-bar-title {
          span {
            margin-right: 7px;
          }
          &:hover, &.select {
            color: #2ba7ff;
          }
        }
      }
      .add-new-group {
        margin: 5px 0 5px 40px;
        span {
          color: #2ba7ff;
        }
      }

    }
  }
  .relationship-main-content {
    @marginLeft: 10px;
    float: left;
    vertical-align: top;
    margin-left: @marginLeft;
    background: #fff;
    width: -moz-calc(~"100% - @{leftBarWidth} - @{marginLeft}");
    width: -webkit-calc(~"100% - @{leftBarWidth} - @{marginLeft}");
    width: calc(~"100% - @{leftBarWidth} - @{marginLeft}");
    .relationship-header {
      line-height: 40px;
      border-bottom: 1px solid #efefef;
      padding-left: 20px;
    }
    .relationship-operation {
      line-height: 40px;
      .batch-operation {
        display: inline-block;
        margin-left: 20px;
      }
      .sort {
        display: inline-block;
        margin-left: 20px;
      }
      .relationship-search {
        float: right;
        margin: 3px 20px 0 0;
        display: inline-block;
        position: relative;
        .fa-search {
          position: absolute;
          right: 10px;
          top: 10px;
        }
      }
    }

    .attention-users {
      padding-left: 20px;
      margin-top: 10px;
    }
    .fan-users {
      padding-left: 20px;
      margin-top: 10px;
    }
  }
}