<div class="reply-simple-blog-popover my-popover" popover-movable>
    <div class="popover-title">转发微博</div>
    <div class="popover-content">
        <div class="item">
            <div class="item-input">
                <textarea class="form-control" rows="3"></textarea>
            </div>
        </div>
    </div>
    <div class="popover-footer">
        <div class="simple-blog-privilege-level-set simple-blog-option-item" ng-click="showJurisdictionOptions()">
            <span>{{simpleBlog.jurisdiction === 1 ? '公开' : simpleBlog.jurisdiction === 2 ? '仅好友可见' : '仅自己可见'}}</span>
            <span class="fa fa-chevron-down"></span>
        </div>
        <div class="simple-blog-privilege-levels" ng-show="showJurisdictionsFlag">
            <div class="jurisdiction-item" ng-click="changeJurisdiction(1)">公开</div>
            <div class="jurisdiction-item" ng-click="changeJurisdiction(2)">仅好友可见</div>
            <div class="jurisdiction-item" ng-click="changeJurisdiction(3)">仅自己可见</div>
        </div>
        <button type="button" class="btn btn-info btn-sm" ng-click="">转发</button>
    </div>
</div>