<div class="dynamic-item">
    <div class="fa fa-angle-down show-content-operations" ng-click="showOperations()"></div>
    <div class="dynamic-item-operations" ng-show="showOperationsFlag">
        <div class="operation-item" ng-show="content.userId === currentUser._id" ng-click="deleteContent()">删除</div>
        <div class="operation-item" ng-show="content.userId === currentUser._id && content.jurisdiction !== 1">转换为所有人可见</div>
        <div class="operation-item" ng-show="content.userId === currentUser._id && content.jurisdiction !== 2">转换为好友可见</div>
        <div class="operation-item" ng-show="content.userId === currentUser._id && content.jurisdiction !== 3">转换为自己可见</div>
        <div class="operation-item" ng-show="content.userId !== currentUser._id">屏蔽这条内容</div>
        <div class="operation-item" ng-show="content.userId !== currentUser._id">屏蔽{{content.userInfo.username}}</div>
        <div class="operation-item" ng-show="content.userId !== currentUser._id">取消关注{{content.userInfo.username}}</div>
    </div>
    <div class="personal-dynamic-info">
        <div class="user-image">
            <img src="{{content.userInfo.headImgPath}}" alt=""/>
        </div>
        <div class="username">{{content.userInfo.username}}</div>
        <div class="dynamic-other-info">{{content.createDate}} 来自 {{content.source}}</div>
        <div class="personal-dynamic-info-detail">{{content.content}}</div>
    </div>
    <div class="original-dynamic-info" ng-if="content.originBlogInfo">
        <div class="username">{{content.originBlogInfo.userName}}</div>
        <div class="dynamic-info-detail">{{content.originBlogInfo.content}}</div>
        <div class="dynamic-foot-div">
            <div class="dynamic-other-info">{{content.originBlogInfo.createDate}} 来自 {{content.originBlogInfo.source}}</div>
            <div class="dynamic-foot-operation">
                <div class="forward">
                    <span class="operation-text"><span class="fa fa-reply"></span>{{content.originBlogInfo.replyNum > 0 ? content.originBlogInfo.replyNum : '转发'}}</span>
                </div>
                <div class="comment">
                    <span class="operation-text"><span class="fa fa-commenting-o"></span>{{content.originBlogInfo.commentsNum > 0 ? content.originBlogInfo.commentsNum : '评论'}}</span>
                </div>
                <div class="good">
            <span class="operation-text"><span class="fa fa-thumbs-o-up" ng-class="{'operated':content.originBlogInfo.isHaveFavor}"></span>
                {{content.originBlogInfo.goodNum > 0 ? content.originBlogInfo.goodNum : '赞'}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="dynamic-foot-operation">
        <div class="reader" ng-show="content.userId === currentUser._id">
            <span class="operation-text">阅读 175</span>
        </div>
        <div class="collection" ng-hide="content.userId === currentUser._id">
            <span class="operation-text" ng-hide="content.isHaveCollected"><span class="fa fa-star-o"></span>收藏</span>
            <span class="operation-text" ng-show="content.isHaveCollected"><span class="fa fa-star"></span>已收藏</span>
        </div>
        <div class="forward">
            <span class="operation-text"><span class="fa fa-reply"></span>{{content.replyNum > 0 ? content.replyNum : '转发'}}</span>
        </div>
        <div class="comment">
            <span class="operation-text"><span class="fa fa-commenting-o"></span>{{content.commentsNum > 0 ? content.commentsNum : '评论'}}</span>
        </div>
        <div class="good">
            <span class="operation-text"><span class="fa fa-thumbs-o-up" ng-class="{'operated': content.gooders.length > 0}"></span>
                {{content.gooders.length > 0 ? content.gooders.length : '赞'}}</span>
        </div>
    </div>
</div>