<div class="login-page">

    <div class="login-div">
        <img src="image/logo.png" class="login-logo-img" alt=""/>
        <div class="login-contain">
            <div class="username-div">
                <label class="label-for-text" for="email">用户名：</label>
                <div class="input-line">
                    <span class="glyphicon glyphicon-user login-icon"></span>
                    <input type="text" class="form-control login-input" id="email" ng-model="email" placeholder="请输入邮箱">
                </div>

            </div>
            <div class="password-div">
                <label class="label-for-text" for="password">密码：</label>
                <div class="input-line">
                    <span class="glyphicon glyphicon-lock login-icon"></span>
                    <input type="password" class="form-control login-input" id="password" ng-model="password" ng-keydown="enterLogin($event)" placeholder="请输入密码"/>
                </div>
            </div>
            <div class="login-option">
                <div class="checkbox auto-login">
                    <customer-checkbox ng-model="option"></customer-checkbox>
                </div>
                <a class="forget-password">忘记密码？</a>
            </div>
            <button type="button" class="btn btn-info login-button" ng-click="login()">登录</button>
            <a href="/register" class="sign-up">立即注册</a>
        </div>
    </div>
</div>