<div class="profile-in-blog-div">
    <div class="title">个人资料</div>
    <div class="profile-info">
        <div class="profile-img"></div>
        <div class="username">柯沁怡</div>
    </div>
    <div class="blog-statistics-info">
        <div class="statistics-item">
            <div class="statistics-label">访问：</div>
            <div class="statistics-value">12551</div>
        </div>
        <div class="statistics-item">
            <div class="statistics-label">积分：</div>
            <div class="statistics-value">34</div>
        </div>
        <div class="statistics-item">
            <div class="statistics-label">等级：</div>
            <div class="statistics-value">1</div>
        </div>
        <div class="statistics-item">
            <div class="statistics-label">排名：</div>
            <div class="statistics-value">千里之外</div>
        </div>
    </div>
    <div class="blog-summary-info">
        <div class="blog-summary-item">
            <div class="summary-label">原创：</div>
            <div class="summary-value">1篇</div>
        </div>
        <div class="blog-summary-item">
            <div class="summary-label">转载：</div>
            <div class="summary-value">1篇</div>
        </div>
        <div class="blog-summary-item">
            <div class="summary-label">译文：</div>
            <div class="summary-value">1篇</div>
        </div>
        <div class="blog-summary-item">
            <div class="summary-label">评论：</div>
            <div class="summary-value">1篇</div>
        </div>
    </div>
</div>