<div class="home-page container">
    <div class="home-bar">
        <div class="home-bar-item main-item select">首页</div>
        <div class="home-bar-item main-item">我的收藏</div>
        <div class="home-bar-item main-item">我的赞</div>
        <fieldset></fieldset>
        <div class="home-bar-item">热门微博</div>
        <div class="home-bar-item">热门博客</div>
    </div>
    <div class="home-main-container">
        <div class="submit-simple-blog">
            <div class="content-above-input">
                <span>有什么新鲜事想告诉大家</span>
            </div>
            <textarea name="" id="" rows="4"></textarea>
            <div class="simple-blog-option">
                <div class="add-expression simple-blog-option-item">
                    <span></span>
                    <span>表情</span>
                </div>
                <div class="add-picture simple-blog-option-item">
                    <span class="icon-picture" style="color: #84c002;"></span>
                    <span>图片</span>
                </div>
                <div class="add-timeout simple-blog-option-item">
                    <span class="icon-time" style="color: #4c9dc1;"></span>
                    <span>定时发</span>
                </div>
                <div class="write-blog simple-blog-option-item">
                    <span class="icon-edit" style="color: #5a8ce6;"></span>
                    <span>发表博客</span>
                </div>
                <button type="button" class="btn btn-primary">发布</button>
                <div class="simple-blog-privilege-level-set simple-blog-option-item">
                    <span>公开</span>
                    <span class="icon-chevron-down"></span>
                </div>
            </div>
        </div>
        <div class="home-content-type-and-search">
            <div class="home-content-blog-type">
                <div class="home-content-blog-type-item select">全部</div>
                <div class="home-content-blog-type-item">原创</div>
                <div class="home-content-blog-type-item">图片</div>
                <div class="home-content-blog-type-item">博客</div>
            </div>
            <div class="search-div">
                <input type="text" class="form-control" placeholder="搜索我的博客">
                <span class="glyphicon glyphicon-search"></span>
            </div>
        </div>
        <div class="blog-infos">
            <blog-brief-info></blog-brief-info>
        </div>
    </div>
    <div class="right-div">
        <div class="current-user-info">
            <div class="user-background-img"></div>
            <div class="user-image">
                <img src="image/users/58426f4f482bc73140d93211/head.jpg" alt=""/>
            </div>
            <div class="username">
                <span class="username-label">柯沁怡</span>
                <span class="level">Lv.11</span>
            </div>
            <div class="user-brief-info">
                <div class="follow">
                    <div class="follow-count">6</div>
                    <div class="follow-label">关注</div>
                </div>
                <div class="fan">
                    <div class="fan-count">0</div>
                    <div class="fan-label">粉丝</div>
                </div>
                <div class="blog">
                    <div class="blog-count">8</div>
                    <div class="blog-label">博客</div>
                </div>
                <div class="simple-blog">
                    <div class="simple-blog-count">8</div>
                    <div class="simple-blog-label">微博</div>
                </div>
            </div>
        </div>
    </div>
</div>