body {
    a {
        color: @link-color;
        text-decoration: none;

    }
    a:hover {
        color: @link-color-hover;
        cursor: pointer;
        text-decoration: none;
    }
    a:focus {
        color: @link-color-focus;
        cursor: pointer;
        text-decoration: none;
    }
}